.cover {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2 * 48px);
  margin: 0 auto;
  padding: 0;
  margin-top: 92px;
}
@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    max-width: 768px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    margin-top: 66px;
  }
}
