.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  max-width: 1184px;
  width: calc(100% - 2 * 48px);
  margin: 0 auto;
  margin-top: 92px;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    width: calc(100% - 2 * 24px);
    margin-top: 88px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    width: calc(100% - 2 * 16px);
    margin-bottom: 14px;
    margin-top: 64px;
  }
}
