.intro__text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  color: #ffffff;
  padding: 0;
  margin: 0 0 33px 0;
  max-width: 690px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}
@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 320px) {
  .intro__text {
    margin-bottom: 34px;
  }
}
