.intro {
  margin: 0 auto;
  margin-top: 114px;
  max-width: 984px;
  width: calc(100% - 2 * 148px);
}
@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 2 * 48px);
  }
}
@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 2 * 24px);
  }
}
@media screen and (max-width: 320px) {
  .intro {
    width: calc(100% - 2 * 16px);
    margin-top: 64px;
  }
}
