.place__url-heading {
  padding: 0;
  text-transform: uppercase;
  margin: 0 0 12px 0;
  color: #aaaaaa;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  max-width: 352px;
}
