.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 24px;
  max-width: 1184px;
  width: calc(100% - 2 * 48px);
}
@media screen and (max-width: 611px) {
  .footer {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin-top: 88px 24px 24px 24px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    margin-top: 64px;
  }
}
