.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
  }
}
