.intro__title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  display: flex;
  margin: 0 0 40px 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
  }
}
@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
