.footer__copyright {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  color: #ffffff;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    align-self: start;
  }
}
@media screen and (max-width: 611px) {
  .footer__copyright {
    align-self: start;
  }
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    align-self: start;
    max-width: 186px;
    margin-left: 16px;
    margin-bottom: 24px;
  }
}
