.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0px;
  padding-bottom: 24px;
  max-width: 1184px;
  width: calc(100% - 2 * 48px);
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    width: calc(100% - 48px);
    margin: 88px auto 0px;
  }
}
@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
    max-width: 320px;
    margin: 64px auto 0px 16px;
  }
}
