.footer__links {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
    margin-left: 16px;
    max-width: 186px;
  }
}
