.footer__link {
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-right: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  transition: 1s;
  opacity: 1;
}
.footer__link:hover {
  opacity: 0.5;
}
@media screen and (max-width: 320px) {
  .footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
}
