.lead__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  display: flex;
  text-align: center;
  max-width: 640px;
  margin: 0 172px auto;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  line-height: 36px;
}
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 64px auto;
  }
}
@media screen and (max-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 32px 144px 56px 144px;
  }
}
@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 0 16px auto;
  }
}
