.cover__title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  display: flex;
  position: relative;
  text-align: center;
  margin: 0 auto 32px;
  padding: 0;
  color: #ffffff;
  max-width: 560px;
  font-family: "Inter";
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  font-style: normal;
  z-index: 2;
}
@media screen and (max-width: 505px) {
  .cover__title {
    font-size: 12vw;
  }
}
@media screen and (max-width: 480px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    margin-top: 33px;
    margin-bottom: 16px;
  }
}
