.place__website {
  align-self: flex-end;
  max-width: 352px;
}
@media screen and (max-width: 760px) {
  .place__website {
    align-self: flex-start;
  }
}
@media screen and (max-width: 320px) {
  .place__website {
    margin-left: 16px;
    width: calc(100% - 2 * 16px);
  }
}
